/*
#profile {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

#profile::before {
  content: "";
  z-index: -1;
  transform: scaleY(1.4);
  background: var(--color-background-gradient);
  filter: blur(20px);
  opacity: 1;
  transition: opacity 0.3s;
  position: absolute;
  top: -1em;
  right: -5em;
  left: -5em;
  bottom: 90%;
}

.list {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 70vw;
}

.icon-container li {
  display: flex;
  gap: 10px;
  place-items: center;
  justify-content: flex-start;
}

.icon-container {
  padding: 0 1em;
}

.icon-container li img {
  width: 32px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.languages li {
  margin-bottom: 15px;
}

#profilbild {
  max-width: 10vw;
}

.progress-bar {
  align-self: flex-end;
  position: relative;
  height: 0.7em;
  width: 10em;
}

.progress-bar-fill {
  position: relative;
  height: 100%;
  width: 0;
  background-color: white;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-burn;
  background-color: #fff3e2;
}
*/

#profile {
  padding: 80px 0;
  color: #ababab;
  background-color: black;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #0ddff2;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #0ddff2;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
