:root {
  --color-main-dark: #dae3ec;
  --color-mid-dark: #9ea3a9;
  --color-main-dark: #dae3ec;
}

* {
  color: var(--color-main-dark);
}
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: var(--color-mid-dark);
}

nav a {
  text-decoration: none;
}

#home h1 {
  color: blue;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

nav {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 10vh;
  gap: 4em;
  background-color: #9ea3a9;
}

#reference {
  position: absolute;
  top: 90vh;
}

.sticky {
  position: fixed;
  top: 0;
}

#home {
  position: relative;
  background-image: url("assets/beach-2213618.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  place-items: center;
  justify-content: space-around;
}

.credits {
  position: absolute;
  bottom: 1em;
  right: 2em;
}

.credits a {
  color: #99a;
}
