:root {
  --color-main-dark: #2e95b0;
  --color-mid-dark: #9ea3a9;
  --color-main-dark: #dae3ec;
}

* {
  color: var(--color-main-dark);
}
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: var(--color-mid-dark);
}

section h1 {
  font-family: "Courier New", Courier, monospace;
  background-color: honeydew;
  left: 0;
}

#main-nav a {
  text-decoration: none;
}

#home h1 {
  color: blue;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

#main-nav {
  display: none;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
  width: 85vw;
  height: 10vh;
  gap: 4em;
}

#mobile-nav {
  position: fixed;
  z-index: 5;
  display: flex;
  bottom: 0;
  flex-direction: column;
  gap: 1.5em;
  height: 64px;
  width: 64px;
  background-color: red;
}

#mobile-nav a {
  position: absolute;
  padding-bottom: 5rem;
  width: 0;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  transition: width 0.2s linear;
}

#reference {
  position: absolute;
  top: 90vh;
}

.sticky {
  position: fixed;
  top: 0;
}

#home {
  position: relative;
  background-image: url("assets/map-of-the-world-g0186a1176_1920.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  place-items: center;
  justify-content: space-around;
}

.credits {
  position: absolute;
  bottom: 1em;
  right: 2em;
}

.credits a {
  color: #2e95b0;
}

#profile::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1em;
  right: 0;
  left: 0;
  bottom: 90%;
  background: var(--color-main-dark);
  filter: blur(20px);
  opacity: 1;
  transform: scaleY(1.4);
}
